<ion-view>
    <ion-header-bar class="bar-stable bg-color-blue">
        <h1 class="title color-white txt-al-center">PVS</h1>
    </ion-header-bar>
    <div class="bar bg-color-bluedark" style="margin-top: 44px;">
    		<h1 class="title color-white font-quick"><img src="img/md-icon.png" style="width: 30px; height: 30px;"><span style="margin-left: 5px;">Medicine</span></h1>
    	</div>
    <ion-content class="has-header" style="background-color: rgba(239,234,234,1);">
    	
        <div class="title-brand txt-al-center" style="margin-top: 48px;">
            <!-- <button ng-click="scanBarcode()">Scan Barcode</button> -->
            Select any brand for verification
        </div>
        <div style="width: 100%; background-color: white;margin-top: 5px; height: 110px;" ng-click="navigate(1)">
        	<img src="img/gsk.jpg" style="width: 80%; margin-left: 10%;">
        </div>
        <div style="width: 100%; background-color: white;margin-top: 5px;height: 115px;" ng-click="navigate(2)">
        	<img src="img/novartis.png" style="width: 80%; margin-left: 10%;margin-top: 40px;">
        </div>
        <div style="width: 100%; background-color: white;margin-top: 5px; height: 115px;" ng-click="navigate(3)">
        	<img src="img/pfizer.jpg" style="width: 80%; margin-left: 10%;height: 100%;">
        </div>
        <div style="width: 100%; background-color: white;margin-top: 5px; height: 115px;" ng-click="navigate(4)">
        	<img src="img/sanofi.png" style="width: 80%; margin-left: 10%;height: 100%;">
        </div>
    </ion-content>
</ion-view>
