<ion-view>
    <ion-header-bar class="bar-stable bg-color-blue">
        <div class="buttons">
            <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
        </div>
        <h1 class="title color-white txt-al-center" style="left: 0px !important;">PVS</h1>
    </ion-header-bar>
    <ion-content class="has-header" style="background-color: rgba(239,234,234,1);">
    	
       <div id="map" style="width: 100%; height: 100%;"></div> 
    </ion-content>
</ion-view>
